@font-face {
    font-family: "cinzel";
    src: url(cinzel-variableFont_wght.ttf);
}

@font-face {
    font-family: "JosefinSlab-Regular";
    src: url(JosefinSlab-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, header{
    margin: 0;
    padding: 0;
}

header {
    height: 4.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #062339;
}

.hflex {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.hbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hlog {
    z-index: 4;
    background-color: #062339;
    height: 8.3rem;
    border-radius: 5rem;
    margin-top: -0.4rem;
}

.menu{
    margin-top: 1.4rem;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: #F5F5F5;
    font-size: 0.9rem;
    font-family: "cinzel";
    margin-right: 1.6rem;
}

.menu a:hover {
    color: #03aefd;
}

.hamburguer {
    display: flex;
    color: #F5F5F5;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    justify-content: end;
}

.hamburguer ul li {
    list-style: none;
}

.hamburguer li a {
    font-family: "cinzel";
    font-size: 0.9rem;
    text-decoration: none;
}

.icon-ham {
    transform: scale(2);
    display: flex;
    flex-flow: column wrap;
}

.sub-li {
    background-color: #e6f7ff;
    width: 16.9rem;
    height: 17.5rem;
    margin-left: -1.4rem;
    border-radius: 0.3rem;
    z-index: 4;
}

.hamb-menu {
    height: 1.8rem;
    width: 16.8rem;
    color: #062339;
    display: block;
    padding-left: 5rem;
    padding-top: 0.3rem;
    z-index: 4;
}
.hamb-menu:hover{
    color: #941e09;
    font-size: 1rem;
}

.hamb-social {
    height: 1.8rem;
    color: #062339;
    width: 16.8rem;
    padding: 0rem;
    margin-top: 0.22rem;
    margin-left: 9.4rem;
    transform: scale(1.2);
}

.hamb-social:hover {
        color: #941e09;
        margin-left: 11.4rem;
        transform: scale(1.4);
}

.submenu .button-signUp {
    margin-top: 2rem;
    margin-left: 2.8rem;
    font-family: "cinzel";
    font-size: 0.85rem;
    color: #062339;
    border: 0.1rem solid #062339;
    border-radius: 0.4rem;
    display: inline-block;
    padding: 0.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.button-signUp:hover {
    color: #e6f7ff;
    background-color: #062339 ;
}

.submenu {
    display: none;
    position: absolute;
    padding-top: 0.5rem;
    margin-left: -13rem;
    width: 18rem;
    height: 24rem;
    border-radius: 0.3rem;
    background-color: #c3e8fa;
    box-shadow: -0.3rem 0.4rem 0.8rem #06233988;
}
.hamburguer:hover  {
    color: #03aefd;
}

.hamburguer:hover .submenu{
    display: block;
}

.fone {
    width: 100%;
    height: 150vh;
    margin: 0;
    background-image: linear-gradient(to right bottom, #ff0000, #ff9900, #00ff00, #0000ff);
}
  
  .container {
    padding-top: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
}
  
  .red-yellow {
    text-align: center;
    margin-top: 12rem;
}
  
  .utop {
    font-family: "cinzel";
    font-size: 0.7rem;
    color: #f5f5f5;
}
  
  .top {
    font-family: "cinzel";
    color: #062339;
    font-size: 3rem;
    font-weight: normal;
}
  
  .ttop {
    color: #062339;
    font-family: "JosefinSlab-Regular";
    font-weight: bolder;
}

.tm-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: transform 0.3s;
    position: absolute;
    width: 100%;
    margin-top: 40rem;
    z-index: 1;
}

.tm-slide {
    justify-content: center;
    width: 5rem;
    height: 100px;
    display: flex;
    padding: 1px;
    overflow: hidden;
    z-index: 6;
}

.tm-slide img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.tm-slide:after {
    position: absolute;
}

.tm-slide:hover{
    transform: scale(1.2);
}

.wa-cont {
    position: fixed;
    top: 35rem;
    left: 95rem;
    transform: scale(3rem);
    z-index: 9;
}

.wa-bottom {
    width: 3rem;
    height: 3rem;
    border-radius: 2.8rem;
    position: absolute;
}

.wa-cont:hover .wa-bottom {
    width: 3.3rem;
    height: 3.3rem;
}

.max {
    width: 100%;
    height: auto;
}

.cur {
    height: 150vh;
    width: auto;
}
.ese {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.cur--title  {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 2.4rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
    color: #0d2337;
}
.container-ese-text {
    height: 60vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-bottom: 10rem;
}
.title-text {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 1.8rem;
    color: #103357;
    z-index: 6;
}
.cur--text {
    width: 20rem;
    padding: 1rem;
    color: #103357;
    font-family: "JosefinSlab-Regular";
    font-size: 1rem;
    background-color: #fae9a66b;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}
.column-two {
    padding: 1rem;
    width: 20rem;
    color: #103357;
    font-family: "JosefinSlab-Regular";
    font-size: 1rem;
    background-color: #fae9a66b;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}
.cur--im {
    width: 35%;
    height: 35%;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 1rem;
}

.wedd{
    height: 150vh;
    width: auto;
}
.ww {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.ww-title {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 2.4rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
    color: #0d2337;
}
.wandw {
    height: 60vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-bottom: 10rem;
}
.w-text-title {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 1.8rem;
    color: #103357;
    z-index: 6;
}
.w-text {
    width: 30rem;
    padding: 15px;
    font-family: "JosefinSlab-Regular";
    font-size: 18px;
    color: #ea0946;
    background-color: #faa6c36b;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.ww-text {
    padding: 1rem;
    width: 30rem;
    font-family: "JosefinSlab-Regular";
    font-size: 18px;
    color: #ea0946;
    background-color: #faa6c36b;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.im-wedd {
    width: 35%;
    height: 35%;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 1rem;
}
.folt {
    height: 150vh;
    width: auto;
}
.ve-ft {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ve-title {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 2.4rem;
    margin-top: 12rem;
    color: #32d705;
}
.content-text-ve {
    height: 60vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-bottom: 10rem;
}

.ve-text {
    padding: 1rem;
    width: 50rem;
    font-family: "JosefinSlab-Regular";
    font-size: 18px;
    color: #1ffb02;
    background-color: #087304cb;
    border-radius: 8px;
}

.folt-im {
    width: 35%;
    height: 35%;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 1rem;
}

.fly {
    height: 150vh;
    width: auto;
}

.fw {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.fw-title {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 2.4rem;
    margin-top: 12rem;
    color: #fa6103;
}
.content-fly-text  {
    height: 60vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-bottom: 10rem;
}
.fw-text {
    padding: 1rem;
    width: 50rem;
    font-family: "JosefinSlab-Regular";
    font-size: 18px;
    color: #fa6103;
    background-color: #3c1801;
    border-radius: 8px;
}
.fly-img {
    width: 35%;
    height: 35%;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 1rem;
}
.shoot {
    height: 150vh;
    width: auto;
}
.strawberry {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.strawberry-title {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 2.4rem;
    margin-top: 12rem;
    color: #ee1515;
}

.content-text-straw {
    height: 60vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    margin-bottom: 10rem;
}

.title-text-straw {
    font-family: "cinzel";
    font-weight: normal;
    font-size: 1.8rem;
    color: #ee1515;
    z-index: 6;
}

.strawberry-text {
    padding: 1rem;
    width: 50rem;
    font-family: "JosefinSlab-Regular";
    font-size: 18px;
    color: #021600;
    background-color: #fcdede;
    border-radius: 8px;
}
.shoot-img {
    width: 35%;
    height: 35%;
    border-bottom-right-radius: 9rem;
    border-bottom-left-radius: 9rem;
    margin-bottom: 1rem;
}

.sign-Up {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,  #750086, #ea0946, #f17930, #ebd702, #f5f5f5)
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mi--form {
    height: 40rem;
    width: 35rem;
    border-radius: 0.3rem;
    margin-top: 0rem;
    font-family: "JosefinSlab-Regular";
    color: #03aefd;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #062339;
    box-shadow: 0.5rem 0.7rem 2.6rem #062339;
}

.sus {
    font-family: "cinzel";
    font-size: 1.6rem;
    color: white;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.between-control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.control {
    width: 24rem;
    height: 2.3rem;
    padding-left: 1rem;
    color: gray;
    background-color: #062339;
    border-radius: 0.2rem;
    border: 0.1rem solid #03aefd;
    font-family: "cinzel";
    font-size: 0.8rem;
}

.terms-form-cond {
    font-family: "cinzel";
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.terms-form-cond a:hover {
    color: #03aefd;
}

.terms-form {
    font-family: "cinzel";
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}

.terms-form a:hover {
    color: #03aefd;
}

.mi--form .boton {
    width: 15rem;
    height: 2.5rem;
    justify-content: center;
    background-color: #03aefd;
    border: none;
    border-radius: 0.2rem;
    font-family: "cinzel";
    color: #062339;
    font-size: 0.7rem;
    text-align: center;
}

.mi--form a .boton:hover {
    color: #f5f5f5;
    cursor: pointer;
}

.mi--form p a:hover {
    color: #03aefd;
    cursor: pointer;
}

.mi--form .boton:hover {
    color: #03aefd;
}

.colafo {
    width: 100%;
    background-color: #062339;  
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.sup--part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 2rem;
}

.logo-cont {
    width: 25rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fo-logo img {
    display: block;
    height: 9rem;
    width: auto;
    margin-left: 1.5rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.slogan {
    display: block;
    font-family: "cinzel";
    font-size: 0.7rem;
    color: #f5f5f5;
    margin-bottom: 1rem;
}

.fote {
    font-family: "JosefinSlab-Regular";
    font-size: 0.8rem;
    color: #f5f5f5;
    margin-bottom: 1.5rem;
}

.av--footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-family: "cinzel";
}

.flex-social {
    flex: 1;
    margin-right: 1rem;
    width: 12rem;
}

h6 {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;   
}

.flex-social li {
    list-style: none;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: "JosefinSlab-Regular";
}

.flex-social a:hover {
    color: #03aefd;
    cursor: pointer;
}

.inf--part {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rights {
    text-decoration: none;
    color: white;
    font-family: "cinzel";
}

.rights a {
    font-family: "cinzel";
    font-size: 0.7rem;
}

.rights .text {
    font-family: "cinzel";
    font-size: 0.7rem;
}

.rights p a:hover {
    color: #03aefd;
    cursor: pointer;
}

/*Para página lern-with*/

.learn-with {
    width: 100%;
    height: 100vh;
    background-color: #5cb6e031;
    display: grid;
}

.learn-title {
    font-family: "cinzel";
    font-size: 36px;
    color: #062339;
    margin-top: 100px;
    grid-template-columns: (1, 1fr);
    grid-template-rows: 80px;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 50px;
}

/*Para página de Sign In*/

.botono {
    width:220px;
    height: 35px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #f17930;
    border: none;
    border-radius: 5px;
    font-family: "cinzel";
    color: #062339;
    font-size: 12px;
    text-align: center;
}

.botono:hover {
    color: #f5f5f5;
    cursor: pointer;
}