$primary-color: #0d2337;
$secondary-color: #03aefd;
$basic-white-color: #F5F5F5;
$sub-menu-blue: #c3e8fa;
$light-blue: #e6f7ff;
$dark-red: #941e09;
$sub-menu: #06233988;
$menu-yellow: #ebd702;
$menu-red: #ea0946;
$basic-shadow: #a2a1a1;
$heraldic-blue: #103357;
$heraldic-BG-color: #fae9a66b;
$wANDw-BG-color: #faa6c36b;
$title-green: #32d705;
$maarashu-green: #1ffb02;
$dark-greeen: #087304cb;
$middle-orange: #fa6103;
$orange-BG-color: #3c1801;
$form-orange: #f17930;