@media screen and (min-width: 696px){
    .news_and_trends__title {
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 8rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }
    .h2__title--blue  {
        font-family: "Cinzel";
        font-size: 2.4rem;
        color: $primary-color;
    }
    .main__section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .aside__main {
        font-family: "Cinzel";
        font-size: 1.8rem;
        text-align: center;
    }
    .topics {
        display: inline;
    }
    .topics__words {
        list-style-type: none;
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
    }
    .topics__words li {
        padding: 1rem 0rem;
        display: inline-block;
        margin-right: 0.5rem;
    }
    .topics__words li:last-child {
        margin-right: 0;
    }
    .topics__words li a {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1rem;
        background-color: #969696;
        padding: 0.7rem;
        border-radius: 1.6rem;
    }
    .topics__words li a:hover {
        color: $basic-white-color;
        background-color: $primary-color;
        border: 0.1rem solid $basic-white-color;
    }
    .aside__index{
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;  
    }
    .section__cards{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 42rem;
        display: flex;
        flex-flow: row  wrap;
        justify-content: center;
    }
    .card {
        width: 17.2rem;
        margin: 0 0.5rem 0.8rem;
        border:0.1rem solid #dddddd;
        border-radius: 0.3rem;
    }
    .card img{
        width: 17rem;
        height: auto;  
    }
    .card-title {
        font-family: "Cinzel";
        font-size: 1.8rem;
    }
    .card-text {
        font-family: "Rubik";
        font-size: 1rem;
    }
    .card a {
        color:#c3e8fa;
        background-color: #0d2337;
        border: 0.1rem solid #0d2337;
    }
    .card a:hover{
        color: #f5f5f5f5;
        background-color: #0d2337;
        border: 0.1rem solid #f5f5f5;
    }
    .under__section--cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 4rem;
    }
    .section__cards--row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .varios--ads{
        text-align: center;
        margin-bottom: 3rem;
    }
    .video--ad {
        max-width: 100%;
        height: auto;
    }
    .linea-horizontal {
    width: 100%;
    height: 1rem;
    background-color: $primary-color;
    overflow: hidden;
    margin-bottom: 3rem;
    }
    .movimiento {
    width: 100%;
    height: 100%;
    background-color: $menu-red;
    animation: movimiento 50s linear infinite; 
    }
    
    @keyframes movimiento {
    0%, 100% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
    }

    .all__articles {
        width: 63%;
        margin: 5rem auto; 
    }
    .haute__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .text--title__back {
        text-decoration: none;
    }
    .haute--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .haute--title:hover  {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .haute__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .news_and_trends__container--videos{
        width: 62rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $primary-color;
    }
    .news_and_trends__videos--format {
        justify-content: center;
        width: 30rem;
        height: 15rem;
        margin: 0.5rem auto;
    }
    .tech__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tech--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tech--title:hover {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tech__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .ias__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .ias--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .ias--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .ias--text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .programming__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .programming--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .programming--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .programming--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .tractors__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tractors--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tractors--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tractors--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .article__text--example{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .flowers__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .flowers--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .flowers--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .text--flowers{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
        justify-content: center;
    }
    .video--solo{
        width: 25rem;
        height: 14rem;
        padding: 0.5rem;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $primary-color;
    }

    .still__working{
        height: 60vh;
        padding: 1.5rem;
    }
    .animations {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .animations-text {
        font-family: $sus-Font;
        font-size: 2.6rem;
        font-weight: 500;
    }
    .construction-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-color: $menu-red;
        border-radius: 50%;
        position: relative;
        animation: blink 1s ease-in-out infinite;
        padding: 0rem;
    }
    .construction__inside--red {
        font-size: 1rem;
        color: $basic-white-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
    p {
        font-family: $animations-Font;
        color: $primary-color;
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .construction--ref{
        font-family: $animations-Font;
        font-weight: normal;
        color: $primary-color;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .construction--ref:hover {
        width: auto;
        color: $basic-white-color;
        background-color: $primary-color;
    }
}
@media screen and (max-width: 695px){
    .news_and_trends__title {
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 8rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }
    .h2__title--blue  {
        font-family: "Cinzel";
        font-size: 2.4rem;
        color: $primary-color;
    }
    .main__section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .aside__main {
        font-family: "Cinzel";
        font-size: 1.8rem;
        text-align: center;
    }
    .topics {
        display: inline;
    }
    .topics__words {
        list-style-type: none;
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
    }
    .topics__words li {
        padding: 1rem 0rem;
        display: inline-block;
        margin-right: 0.5rem;
    }
    .topics__words li:last-child {
        margin-right: 0;
    }
    .topics__words li a {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1rem;
        background-color: #969696;
        padding: 0.7rem;
        border-radius: 1.6rem;
    }
    .topics__words li a:hover {
        color: $basic-white-color;
        background-color: $primary-color;
        border: 0.1rem solid $basic-white-color;
    }
    .aside__index{
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;  
    }
    .section__cards{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 28rem;
        display: flex;
        flex-flow: row  wrap;
        justify-content: center;
    }
    .card {
        width: 17.2rem;
        margin: 0 0.5rem 0.8rem;
        border:0.1rem solid #dddddd;
        border-radius: 0.3rem;
    }
    .card img{
        width: 17rem;
        height: auto;  
    }
    .card-title {
        font-family: "Cinzel";
        font-size: 1.8rem;
    }
    .card-text {
        font-family: "Rubik";
        font-size: 1rem;
    }
    .card a {
        color:#c3e8fa;
        background-color: #0d2337;
        border: 0.1rem solid #0d2337;
    }
    .card a:hover{
        color: #f5f5f5f5;
        background-color: #0d2337;
        border: 0.1rem solid #f5f5f5;
    }

    .under__section--cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 4rem;
    }
    .section__cards--row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .varios--ads{
        text-align: center;
        margin-bottom: 3rem;
    }
    .video--ad {
        max-width: 100%;
        height: auto;
    }

    .linea-horizontal {
    width: 100%;
    height: 1rem;
    background-color: $primary-color;
    overflow: hidden;
    margin-bottom: 3rem;
    }
    
    .movimiento {
    width: 100%;
    height: 100%;
    background-color: $menu-red;
    animation: movimiento 50s linear infinite; 
    }
    
    @keyframes movimiento {
    0%, 100% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
    }

    .all__articles {
        width: 63%;
        margin: 5rem auto; 
    }
    .haute__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .text--title__back {
        text-decoration: none;
    }
    .haute--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .haute--title:hover  {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .haute__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .news_and_trends__container--videos{
        width: 20rem;
        height: 40rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $primary-color;
    }
    .news_and_trends__videos--format {
        justify-content: center;
        width: 20rem;
        height: 10rem;
        margin: 0.5rem auto;
    }
    .tech__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tech--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tech--title:hover {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tech__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .ias__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .ias--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .ias--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .ias--text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .programming__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .programming--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .programming--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .programming--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .tractors__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tractors--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tractors--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tractors--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .article__text--example{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .flowers__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .flowers--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .flowers--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .text--flowers{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
        justify-content: center;
    }
    .video--solo{
        width: 25rem;
        height: 14rem;
        padding: 0.5rem;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $primary-color;
    }

    .still__working{
        height: 60vh;
        padding: 1.5rem;
    }
    .animations {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .animations-text {
        font-family: $sus-Font;
        font-size: 2.6rem;
        font-weight: 500;
    }
    .construction-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-color: $menu-red;
        border-radius: 50%;
        position: relative;
        animation: blink 1s ease-in-out infinite;
        padding: 0rem;
    }
    .construction__inside--red {
        font-size: 1rem;
        color: $basic-white-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
    p {
        font-family: $animations-Font;
        color: $primary-color;
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .construction--ref{
        font-family: $animations-Font;
        font-weight: normal;
        color: $primary-color;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .construction--ref:hover {
        width: auto;
        color: $basic-white-color;
        background-color: $primary-color;
    }
}
@media screen and (max-width: 695px){
    .wa-cont {
        position: fixed;
        transform: scale(0.9); 
        bottom: 14rem;
        right: 2rem;
        z-index: 9;
    }
    .news_and_trends__title {
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 8rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }
    .h2__title--blue  {
        font-family: "Cinzel";
        font-size: 2.4rem;
        color: $primary-color;
    }
    .main__section {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .aside__main {
        font-family: "Cinzel";
        font-size: 1.8rem;
        text-align: center;
    }
    .topics {
        display: inline;
    }
    .topics__words {
        list-style-type: none;
        width: 18rem;
        display: flex;
        flex-wrap: wrap;
    }
    .topics__words li {
        padding: 1rem 0rem;
        display: inline-block;
        margin-right: 0.5rem;
    }
    .topics__words li:last-child {
        margin-right: 0;
    }
    .topics__words li a {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1rem;
        background-color: #969696;
        padding: 0.7rem;
        border-radius: 1.6rem;
    }
    .topics__words li a:hover {
        color: $basic-white-color;
        background-color: $primary-color;
        border: 0.1rem solid $basic-white-color;
    }
    .aside__index{
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;  
    }
    .section__cards{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row  wrap;
        justify-content: center;
    }
    .card {
        width: 17.2rem;
        margin: 0 0.5rem 0.8rem;
        border:0.1rem solid #dddddd;
        border-radius: 0.3rem;
    }
    .card img{
        width: 17rem;
        height: auto;  
    }
    .card-title {
        font-family: "Cinzel";
        font-size: 1.8rem;
    }
    .card-text {
        font-family: "Rubik";
        font-size: 1rem;
    }
    .card a {
        color:#c3e8fa;
        background-color: #0d2337;
        border: 0.1rem solid #0d2337;
    }
    .card a:hover{
        color: #f5f5f5f5;
        background-color: #0d2337;
        border: 0.1rem solid #f5f5f5;
    }

    .under__section--cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 4rem;
    }
    .section__cards--row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .varios--ads{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .video--ad {
        max-width: 100%;
        height: auto;
    }

    .linea-horizontal {
    width: 100%;
    height: 1rem;
    background-color: $primary-color;
    overflow: hidden;
    margin-bottom: 3rem;
    }
    
    .movimiento {
    width: 100%;
    height: 100%;
    background-color: $menu-red;
    animation: movimiento 50s linear infinite; 
    }
    
    @keyframes movimiento {
    0%, 100% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
    }

    .all__articles {
        width: 90%;
        padding: 0.3rem;
    }
    .haute__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .text--title__back {
        text-decoration: none;
    }
    .haute--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .haute--title:hover  {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .haute__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .news_and_trends__container--videos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $primary-color;
    }
    .news_and_trends__videos--format {
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0.5rem auto;
    }
    .tech__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tech--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tech--title:hover {
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tech__text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .ias__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .ias--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .ias--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .ias--text {
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .programming__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .programming--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .programming--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .programming--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .tractors__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .tractors--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .tractors--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .tractors--text{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .article__text--example{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .flowers__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .flowers--title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        margin-bottom: 3rem;
        height: 4rem;
        width: 15rem;
        font-family: $primaryFamily;
        font-size: 1.6rem;
        color: $primary-color;
        background-color: $menu-red;
        text-shadow: -0.1rem 0.2rem 1rem $basic-white-color;
    }
    .flowers--title:hover{
        color: $basic-white-color;
        text-decoration: none;
        font-family: $secondaryFamily;
        font-size: 1.3rem;
        background-color: #969696;
        text-shadow: 0rem 0rem 0rem;
        border: 0.1rem solid $basic-white-color;
        border-radius: 1.6rem;
    }
    .text--flowers{
        font-family: $secondaryFamily;
        font-weight: normal;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 3rem;
        justify-content: center;
    }
    .video--solo{
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $primary-color;
    }

    .still__working{
        height: 60vh;
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
    .animations {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .animations-text {
        font-family: $sus-Font;
        font-size: 2.6rem;
        font-weight: 500;
    }
    .construction-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-color: $menu-red;
        border-radius: 50%;
        position: relative;
        animation: blink 1s ease-in-out infinite;
        padding: 0rem;
    }
    .construction__inside--red {
        font-size: 1rem;
        color: $basic-white-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
    p {
        font-family: $animations-Font;
        color: $primary-color;
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    .construction--ref{
        font-family: $animations-Font;
        font-weight: normal;
        color: $primary-color;
        font-size: 1.1rem;
        text-decoration: none;
    }
    .construction--ref:hover {
        width: auto;
        color: $basic-white-color;
        background-color: $primary-color;
    }
}

