@media screen and (min-width: 90px) {
    .mi--forms{
        width: 13rem;
        height: auto;
        border-radius: 0.3rem;
        margin-top: 0rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #062339;
        box-shadow: 0.5rem 0.7rem 2.6rem #062339;
    }
    .suss {
        font-family: "cinzel";
        font-size: 0.9rem;
        color: white;
        margin-top: 3rem;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .controls {
        width: 10rem;
        height: 2rem;
        margin: 0.3rem;
        padding-left: 1rem;
        color: $primary-color;
        background-color: $light-blue;
        border-radius: 0.2rem;
        border: 0.1rem solid #03aefd;
        font-family: "cinzel";
        font-size: 0.7rem;
    }
    .between-controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .terms-button {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .botono {
        width:8rem;
        height: 1.7rem;
        margin: 2rem;
        background-color: #f17930;
        border: none;
        border-radius: 0.3rem;
        font-family: "cinzel";
        color: #062339;
        font-size: 0.8rem;
        text-align: center;
    }
    .botono:hover {
        color: #f5f5f5;
        cursor: pointer;
    }
    .terms-forms a{
        color: $basic-white-color;
        font-family: $secondaryFamily;
        font-weight: normal;
        padding: 3rem;
        font-size: 0.7rem;
        margin-bottom: 1.5rem;
        text-decoration: none;
    }
    .terms-forms a:hover{
        color: #03aefd;
    }
}
@media screen and (min-width: 370px) {
    .mi--forms{
        width: 18rem;
        height: auto;
        border-radius: 0.3rem;
        margin-top: 0rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #062339;
        box-shadow: 0.5rem 0.7rem 2.6rem #062339;
    }
}
@media screen and (min-width: 426px) {
    .mi--forms{
        width: 18rem;
        height: auto;
        border-radius: 0.3rem;
        margin-top: 0rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #062339;
        box-shadow: 0.5rem 0.7rem 2.6rem #062339;
    }
    .suss {
        font-family: "cinzel";
        font-size: 0.9rem;
        color: white;
        margin-top: 3rem;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .controls {
        width: 10rem;
        height: 2rem;
        margin: 0.3rem;
        padding-left: 1rem;
        color: #0d2337;
        background-color: #a6d6fd;
        border-radius: 0.2rem;
        border: 0.1rem solid #03aefd;
        font-family: "cinzel";
        font-size: 0.7rem;
    }
    .between-controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .botono {
        width:8rem;
        height: 1.7rem;
        margin: 2rem;
        background-color: #f17930;
        border: none;
        border-radius: 0.3rem;
        font-family: "cinzel";
        color: #062339;
        font-size: 0.8rem;
        text-align: center;
    }
    .botono:hover {
        color: #f5f5f5;
        cursor: pointer;
    }
    .terms-forms a{
        font-family: "Rubik";
        font-weight: normal;
        font-size: 0.7rem;
        color: $basic-white-color;
        text-align: center;
        padding-top: 2rem;
        text-decoration: none;
    }
    .terms-forms a:hover{
        color: #03aefd;
    }
}
@media screen and (min-width: 1024px) {
    .mi--forms{
        width: 25rem;
        height: 15rem;
        border-radius: 0.3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #062339;
        box-shadow: 0.5rem 0.7rem 2.6rem #062339;
    }
    .suss {
        font-family: "cinzel";
        font-size: 0.9rem;
        color: white;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
        justify-content: center;
    }
    .controls {
        width: 10rem;
        height: 2rem;
        margin: 0.3rem;
        padding-left: 1rem;
        color: #0d2337;
        background-color: #a6d6fd;
        border-radius: 0.2rem;
        border: 0.1rem solid #03aefd;
        font-family: "cinzel";
        font-size: 0.7rem;
    }
    .between-controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .botono {
        width: 8rem;
        height: 1.7rem;
        margin-top: 0rem;
        margin-bottom: 0.8rem;
        background-color: $form-orange;
        border: none;
        border-radius: 0.3rem;
        font-family: "cinzel";
        color: $primary-color;
        font-size: 0.8rem;
        text-align: center;
    }
    .botono:hover {
        color: #f5f5f5;
        cursor: pointer;
    }
    .terms-forms a{
        font-family: "Rubik";
        font-weight: normal;
        font-size: 0.7rem;
        color: $basic-white-color;
        text-align: center;
        padding-top: 2rem;
        text-decoration: none;
    }
    .terms-forms a:hover{
        color: #03aefd;
    }
}
@media screen and (min-width: 1200px) {
    .mi--forms{
        width: 32rem;
        height: auto;
        border-radius: 0.3rem;
        margin-top: 0rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $primary-color;
        box-shadow: 0.5rem 0.7rem 2.6rem $primary-color;
    }
    .suss {
        font-family: "cinzel";
        font-size: 1.6rem;
        color: white;
        margin-top: 3rem;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .controls {
        width: 24rem;
        height: 2.8rem;
        margin: 0.3rem;
        padding-left: 1rem;
        color: #0d2337;
        background-color: #a6d6fd;
        border-radius: 0.2rem;
        border: 0.1rem solid #03aefd;
        font-family: "cinzel";
        font-size: 0.9rem;
    }
    .between-controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .botono {
        width: 13.75rem;
        height: 2.8rem;
        margin: 2rem;
        background-color: $form-orange;
        border: none;
        border-radius: 5px;
        font-family: "cinzel";
        color: #062339;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .botono:hover {
        color: $basic-white-color;
        cursor: pointer;
    }
    .terms-forms a{
        width: 100%;
        color: $basic-white-color;
        font-family: "Rubik";
        font-weight: normal;
        font-size: $h5-terms;
        margin-bottom: 1.5rem;
        text-decoration: none;
    }
    .terms-forms a:hover{
        color: #03aefd;
    }
}